
:root {
    --primary-color: white;
    --secondary-color: rgb(32, 116, 241);
    --tertiary-color: #04094d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLING START*/

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* HEADER STYLING END*/
 
/*HERO STYLING START*/

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-text {
    color: black;
}
/* HERO STYLE END */

/* .main-body img {
    width: 100%;
} */


/* ABOUT ME STYLING BEGIN*/

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.about p {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.about-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* ABOUT ME STYLING END */

/* MY WORK STYLING BEGIN */

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-left: 5px solid black;
    
}

.project-title {
   margin: 20px;
   color: black;
   flex: 1;
}   

.project-images {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.project-images:hover {
  /*  background: var(--primary-color);
    color: var(--secondary-color); */
    opacity: 50%;
    border-radius: 15px;
    text-shadow: none;
    
    
}

.about {
   /* background-image: url("../images/profile-pic.jpg"); */
    
}
  .run-buddy {
      flex-grow: 3;
   
} 

/* COMMENTED OUT
.wu-tang {
    background-image: url("../images/wu-tang-pic.jpg");
}
.decentraland {
    background-image: url("../images/decentraland-pic.png");
}
.nftgallery {
    background-image: url("../images/nft-pic.png");  
    color: black;
}
.placeholder {
    background-image: url("../images/placeholder-pic.jpg"); 
}

*/
.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}