
:root {
    --primary-color: white;
    --secondary-color: rgb(32, 116, 241);
    --tertiary-color: #04094d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLING START*/

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* HEADER STYLING END*/
 
/*HERO STYLING START*/

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-text {
    color: black;
}

.main-body img {
    width: 100%;
}

.projects {
background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-me {
    background-image: url("../images/profile-pic.jpg"); 
}
.run-buddy {
    background-image: url("../images/run-buddy-pic.jpg"); 
}
.wu-tang {
    background-image: url("../images/wu-tang-pic.jpg");
}
.decentraland {
    background-image: url("../images/decentraland-pic.png");
}
.nftgallery {
    background-image: url("../images/nft-pic.png");  
}
.placeholder {
    background-image: url("../images/placeholder-pic.jpg"); 
}

