
:root {
    --primary-color: rgb(206, 206, 206);
    --secondary-color: rgb(94, 94, 94);
    --tertiary-color: #080808;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLING START*/

header {
    
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
header h1 a {
    color: white;
}

header h1 a:hover {
    color: var(--tertiary-color);
}

header nav ul {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    
    padding: 10px 15px;   
    font-size: 2vw;
    
}

header nav ul li a {
    color: var(--primary-color);
    text-shadow: 0 0 10px rgb(223, 220, 220);
}

header nav ul li a:hover {
    color: white;
}

.section-title {
    padding: 15px;
}
/* HEADER STYLING END*/
 
/*HERO STYLING START*/

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.hero-text {
    color: var(--primary-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;      
}

.hero-text h2 {
    font-size: 30px;
    text-shadow: 0 0 4px white;
}

.hero-text p {
    font-size: 25px;
}
/* HERO STYLE END */


/* ABOUT ME STYLING BEGIN*/

 .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 0px;
    border-bottom: 5px dotted var(--secondary-color);
    
} 
 
.about-title {
    color: var(--tertiary-color);
    font-size: xx-large;
    padding: 15px;
    padding-bottom: 0px;
}

.image-p {
    display: flex;
    justify-content: center;
    color: var(--tertiary-color);
    font-size: large;
    font-style: italic;
    padding: 10px;
    text-align: center;
}
 
.paragraph {
    padding-left: 20px;

}

.about-image {
    padding-left: 3px;
    padding-top: 0;
    justify-content: flex-start;
}   

/* ABOUT ME STYLING END */

/* MY WORK STYLING BEGIN */

.projects {
    
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
        
}    

    .project-card {
        
        margin: 20px;
        color: black;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        flex-direction: row;
        justify-content: center;
        text-align: center;
}
       
    .project-images {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 25%;
}

.last-four {
   
    display:flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;

}

.nftgallery {
    flex-grow: 2;
}

.project-images a img {
    border-radius: 15px;
    border: 5px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--tertiary-color);
    height: 100%;
    width: 100%;
}




.project-images:hover {
    opacity: 65%;
    border-radius: 15px; 
}

.project-card .image-text a  {
    color: var(--tertiary-color);
}

.project-card .image-text h4 {
    font-style: italic;
}

.project-card a:hover {
    color: whitesmoke;
    text-shadow: 0 0 10px var(--secondary-color);
}
 

.section-title {
    color: var(--tertiary-color);
    font-size: xx-large; 
}

.work {
    border-bottom: 5px dotted var(--secondary-color);
}
    

/* MY WORK STYLING END */

/* CONTACT ME SECTION STYLING BEGIN */

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px 15px 40px 15px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px var(--secondary-color);
}

.contact ul li h3 a {
    color: var(--tertiary-color);
}
.contact ul li h3 a:hover {
    color: whitesmoke;
}

/* CONTACT ME STYLING END */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
    .about-title {
        text-align: center;
    }

    .image-p {
        text-align: center;
        flex-direction: column;
    }

    .section-title {
        text-align: center;
    }

    header {
        flex-direction: column;
    }
    header h1  {
        text-align: center;
    }
    header nav ul li {
        font-size: 60%;
        padding-top: 20px;
             
    }
}

